*{
    margin: 0;
    padding: 0;
    font-family: system-ui;
}
.continer{
    background: #000;
    height: 100vh;
    width: 100%;
        overflow: hidden;
position: relative;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 40px;
}
ul li{
    display: inline-block;
    padding: 20px 0;
}
ul li a{
    color: #fff;
    list-style: none;
    text-decoration: none;
    margin: 0 15px;
}
.contant{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.contant .text{
    width: 40%;
    color: #fff;
}
.contant .text h2{
    font-size: 40px;
    text-transform: uppercase;
    margin: 10px 0;
}
.contant .text p{
    font-size: 20px;
    margin: 20px 0;
}
.contant .text a{
    text-decoration: none;
    background: #fff;
    color: #000;
    padding: 8px 15px;
    border-radius: 20px;
}
.contant .imgs{
    width: 30%;
}
.contant .imgs img{
    width: 180px;
}
.icons{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.icons img{
    width: 40px;
    transition: 0.5s;
    cursor: pointer;
}
.icons img:hover{
    transform: scale(1.2);
}